body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#__nuxt,
#default-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  word-break: break-word;
}

.navbar {
  .nav-link {
    font-weight: 600;
  }
}

.container-post {
  @extend .container;
  max-width: 728px;
}

.ad-slot {
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .my-3;
}

.featured-container {
  @extend .d-none;
  @extend .d-md-block;
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.post-box-grid,
.author-box {
  @extend .highlight-transitions;
  @extend .rainbow-elements;

  &,
  &::before,
  &::after {
    border-radius: var(--bs-card-border-radius);
  }

  &::after {
    background-color: var(--bs-card-bg);
  }

  .card-img-top {
    @extend .p-2;
    object-fit: cover;

    @extend .highlight-transitions;
  }
}

.related-card {
  background-size: cover;
  background-position: center center;
  @extend .text-decoration-none;
  @extend .text-white;

  .card-body {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px);
  }
}
