.markdown-body {
  * {
    word-break: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 30px;
    letter-spacing: -0.016em;

    a {
      text-decoration: none;
      color: var(--bs-heading-color);

      &:hover {
        color: initial;
      }
    }
  }

  h1 {
    margin: 0.67em 0;
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid var(--bs-dark-border-subtle);
  }

  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--bs-dark-border-subtle);
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
    color: var(--color-fg-muted);
  }

  p,
  li {
    font-size: 20px;
    font-weight: 400;
  }

  p,
  ul,
  pre,
  img,
  blockquote,
  figure {
    line-height: 32px;
    letter-spacing: -0.003em;
    margin-bottom: 1.8em;
  }

  p:has(> img) {
    text-align: center;
  }

  pre {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
      Liberation Mono, monospace;
    // background-color: var(--bs-light-bg-subtle);
    border: 2px solid var(--bs-secondary-bg-subtle);
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
    word-wrap: normal;

    code {
      font-size: 120%;
    }
  }

  img {
    @extend .img-fluid;
    margin: 5px;
  }
}
