@import "bootstrap/scss/bootstrap"; //doc https://getbootstrap.com/docs/5.3

body,
#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  word-break: break-word;
}

.navbar {
  .nav-link {
    font-weight: 600;
  }
}

.markdown-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 1.25;

    a {
      text-decoration: none;
      color: var(--bs-heading-color);

      &:hover {
        color: initial;
      }
    }
  }

  h1 {
    margin: 0.67em 0;
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid var(--bs-dark-border-subtle);
  }

  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--bs-dark-border-subtle);
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
    color: var(--color-fg-muted);
  }

  p,
  li {
    font-size: 20px;
    font-weight: 400;
  }

  p:has(> img) {
    text-align: center;
  }

  pre {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
      Liberation Mono, monospace;
    // background-color: var(--bs-light-bg-subtle);
    border: 2px solid var(--bs-secondary-bg-subtle);
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    font-size: 12px;
    word-wrap: normal;

    code {
      font-size: 120%;
    }
  }

  img {
    @extend .img-fluid;
    margin: 5px;
  }
}

.container-post {
  @extend .container;
  max-width: 680px;
}

.featured-container {
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 100%;
}

%box-transitions {
  -webkit-transition: -webkit-transform 250ms ease, box-shadow 250ms ease,
    color 250ms ease;
  -webkit-transition: transform 250ms ease, box-shadow 250ms ease,
    color 250ms ease;
  transition: transform 250ms ease, box-shadow 250ms ease, color 250ms ease;
}

%box-hover {
  -webkit-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  transform: translateY(-0.25rem);
  box-shadow: 0px 2px 4px rgba(46, 41, 51, 0.08),
    0px 5px 10px rgba(71, 63, 79, 0.16);
}

.post-box {
  @extend %box-transitions;
  position: relative;

  &:hover {
    @extend %box-hover;

    .card-img-top {
      @extend %box-hover;
    }
  }

  .card-img-top {
    @extend .p-2;
    object-fit: cover;
    border-radius: 15px;

    @extend %box-transitions;
  }
}
